* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #23252C;
}

.InfoCard {
  margin-block: 2rem;
  background-color: #1A1b21;
  width: 317px;
  border-radius: 10px;
  overflow: hidden;
}

.main-info {
  text-align: center;
}

.info-container {
  padding: 1rem 1rem 2rem 1rem;
}

.main-info .subject {
  height: 317px;
  width: 100%;
  object-fit: cover;
}

.main-info h1 {
  margin-bottom: 0.5rem;
  font-size: 25px;
  line-height: 30.26px;
  color: white;
}

.main-info .role {
  font-size: 12.8px;
  line-height: 15.49px;
  color: #F3BF99;
}

.main-info .website-link {
  display: block;
  margin-block: 1rem;
  font-size: 10.24px;
  line-height: 15.36px;
  color: #F5F5F5;
}

.main-info a {
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-block: 1rem;
  gap: 1rem;
}

.social-link {
  display: flex;
  font-size: 14px;
  gap: 8px;
  width: 115px;
  padding: 9px 13px;
  border-radius: 6px;
}

.social-link.email {
  background-color: white;
  color: #374151;
}

.social-link.linkedin {
  background-color: #5093e2;
  color: #FFFFFF;
}

.text-content {
  margin-top: 2rem;
  margin-inline: 1.4rem;
  text-align: left;
}

.text-content h1 {
  line-height: 24px;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 16px;
}

.text-content p {
  line-height: 15.36px;
  color: #dcdcdc;
  font-size: 10.24px;
  font-weight: 400;
}

.contact {
  height: 64px;
  width: 100%;
  background-color: #161619;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}